<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/head.html::head">
</head>
  <body>

   <header th:replace="fragments/header :: header"> </header>

    <section class="hero-wrap hero-wrap-2"  data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home 
          	<i class="ion-ios-arrow-forward"></i></a></span> 
          	<span>My Page <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">My Funding</h1>
          </div>
        </div>
      </div>
    </section>
    <section>
    <nav th:replace="mypage/common :: nav"></nav>
    
  	<div class="ftco-animate fadeInUp ftco-animated"
					style="display: inline-block; width: 75%; margin-left:20em; margin-top: 10em;">
					<div class="block-7">
						<div class="text-center p-4">
							<table class="styled-table" align="center"
								style="width: 100%">
								<thead style="color: black;">
									<th>펀딩 번호</th>
									<th>펀딩 제목</th>
									<th>펀딩 기간</th>
									<th>목표 금액</th>
									<th>현재 금액</th>
									<th>펀딩 내용</th>
								</thead>
								<tbody>
									<tr th:each="f : ${MyfundList}">
										<td><a th:href="@{/fund/get(fundNum=${f.fundNum})}" th:text="${f.fundNum}">펀딩 번호</a></td>
										<td th:text="${f.fundTitle}">펀딩 제목</td> 
										<td th:text="|${#dates.format(f.fundStartDate,'yyyy-MM-dd')} ~ ${#dates.format(f.fundEndDate,'yyyy-MM-dd')}|"></td>
										<td th:text="${f.fundMoney}">목표 금액</td>
										<td th:text="${f.nowtotal}">현재 금액</td>
										<td th:text="${f.fundIntro}">펀딩 내용</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
	</section>
<footer th:replace="fragments/footer :: footer"> </footer>
    
  </body>
</html>