<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/head.html::head">
</head>
<style>
.sub-table {
	width:800px;
	border-top: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
    padding-right: 100px;
}


th {
	font-weight : bold;
	border-bottom: 1px solid #444444;
    padding: 10px;
    color:black;
    background-color:#343a40;
    color:white;
    border-bottom: 2px solid black;
  }

td {
      border-bottom: 1px solid #444444;
    padding: 10px;
  }

.subname {
	width:400px;
}

h5 {
	font-size : 3em;
	font-weight: bold;
}

</style>
  <body>

   <header th:replace="fragments/header :: header"> </header>
   
	
   
    <section class="hero-wrap hero-wrap-2"  data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home 
          	<i class="ion-ios-arrow-forward"></i></a></span> 
          	<span>My Page <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">My Subscriber</h1>
          </div>
        </div>
      </div>
    </section>
    <section>
    <nav th:replace="mypage/common :: nav"></nav>
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row" id="row2">
    			<div class="row d-md-flex justify-content-center">
    				<div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ">
    				<h5>구독 정보</h4><hr><hr><hr><hr><hr><hr>
   				<table class="sub-table" >
							<thead>
								<th>프로필 사진</th>
								<th class="subname">회원 닉네임</th>
								<th>구독 관리</th>
							</thead>
							<tbody>
								<tr th:each="sub : ${list}" >
									<td><a href="#"><img th:src="@{/images/person_1.jpg}" alt="Image placeholder" class="img-fluid" 
									style="width: 40px;	height:40px; border-radius: 20px;"></a>&nbsp&nbsp&nbsp
									<td><a th:href="@{/mypage(memNum=${sub.memNum})}" th:text="${sub.memName}">
									</a></td>
									<td><input type="button" value="Subscribe" style="cursor:pointer; background-color:#343a40; color:white; border-radius:5px;"  onclick=""></td>
								</tr>	
							</tbody>
						</table>
								</div>	
	    			</div>
	    		</div>
	    	</div>
    	</div>
    </section>


<footer th:replace="fragments/footer :: footer"> </footer>
    
  </body>
</html>