<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show Me Your Pearl</title>
<style>
body {
	background-color: #5F5F5F;
}

.navMenu {
	background-color: pink;
	width: 100%;
	height: 150px;
}

.box {
	width: 80%;
	height: 800px;
	margin: 0 auto;
	background-color: white;
	padding: 30px 50px;
}
.tbl {
	width: 100%;
	border: 1px solid #444444;
}
th, td {
    border: 1px solid #444444;
}
</style>
</head>
<body>
	<div class="navMenu">
		<h1>상단 메뉴 테스트중~~~</h1>
	</div>
	<div class="box">
		<h1>공지사항</h1>
		<hr>
		<table class="tbl">
			<tr>
				<th>공지 번호</th>
				<th>글 제목</th>
				<th>작성일</th>
			</tr>
			<tr>
				<td>1</td>
				<td>제목 1</td>
				<td>2021-04-23</td>
			</tr>
		</table>
	</div>
</body>
</html>