<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/head.html::head">
</head>
<body>
	<header th:replace="fragments/header :: header"> </header>
	<section class="hero-wrap hero-wrap-2">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end">
				<div class="col-md-9 pb-5">
					<p class="breadcrumbs mb-2">
						<span class="mr-2"><a href="index.html">Home <i
								class="ion-ios-arrow-forward"></i></a></span> <span>Login <i
							class="ion-ios-arrow-forward"></i></span>
					</p>
					<h1 class="mb-0 bread">Login</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb ">
		<div class="overlay"></div>
		<div class="login">
			<div class="container">
				<div class="row d-md-flex justify-content-center">
					<div class="col-md-12 col-lg-6 half p-3 py-5">
						<h2 class="mb-4">Login</h2>
						<form action="/login" class="appointment" method="post">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="memEmail"
											placeholder="e-mail">
									</div>

								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="password" class="form-control" name="memPass"
											placeholder="Password">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" id="login_btn" value="Login"
											class="btn btn-primary py-3 px-4">
									</div>
								</div>
							</div>
							<div class="search">
								<a href=#>아이디/비밀번호를 잃어버리셨습니까?</a>
							</div>
							<div>
								<p style="display:none" id="check" class="check" >아이디/비밀번호를 확인해주세요</p>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="overlay"></div>
			<div class="container">
				<div class="row d-md-flex justify-content-center">
					<div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5">
						<h2 class="mb-4">Join</h2>
						<form action="/join" class="appointment" name="insertForm"
							method="post">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="e-mail"
											name="memEmail" placeholder="e-mail">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="NickName"
											name="memName" placeholder="NickName">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="PhoneNumber"
											name="memPhone" placeholder="PhoneNumber">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="password" class="form-control" id="Password"
											name="memPass" placeholder="Password">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="password" class="form-control" id="RePassword"
											placeholder="RePassword">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" id="join_btn" value="Join"
											class="btn btn-primary py-3 px-4">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<p class="alert" style="display:none" th:text="${cklog}">
		</p>
		
	</section>

	<script th:inline="javascript">
    
    $( document ).ready( function() {
		
    	$("#join_btn").click(function(){
    		checkAll();
    });
    	
    	 function checkAll() {

    		 	var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
    			var ckemail = $('#e-mail').val();
    			if(ckemail==""){	
    				alert("e-mail을 입력해주세요");	 
    				$('#e-mail').focus();
    				return false;
    			} /* else {
    				if(!(getMail.ckemail)){
    				alert("유호하지 않은 이메일 양식입니다.  ex)abc@gmail.com");
    				ckemail.focus();
    				return false;
    				} 
    			} */
    			
    			
    			
    			var ckname = $('#NickName').val();	 
    			if(ckname=="") {
    				alert("NickName을 입력해주세요");
    				$('#NickName').focus();
    				return false;
    			}
    			
    			var cknumber = $('#PhoneNumber').val();	 
    			if(cknumber=="") {
    				alert("cknumber를 입력해주세요");
    				$('#PhoneNumber').focus();
    				return false;
    			}
    			
    			var psRegex = !/^[a-zA-Z0-9!@#$%^&*()?_~]{8,20}$/
    			var ckps = $('#Password').val();	 
    			var ckreps = $('#RePassword').val();	
    			if(ckps=="") {
    				alert("Password을 입력해주세요");
    				$('#Password').focus();
    				return false;
    			} else if(ckreps=="") {
    				alert("RePassword을 입력해주세요");
    				$('#RePassword').focus();
    				return false;
    			} else if(ckps != ckreps) {
    				alert("Password가 다릅니다")
    				return false;
    			} else if(ckps.search(/\s/) != -1) {
    				alert("Password를 공백없이 입력해주세요");
    				$('#Password').focus();
    				return false;
    			} /*  else if(!(psRegex.ckps)){
    	            alert("비밀번호는 숫자, 영문, 특수문자(!@$%^&*?_~ 만 허용) 조합으로 8~20자리를 사용해야 합니다.")	
    	            return false; 
    			} */
    		
    	 	alert("회원가입이 완료되었습니다");
    		return false;
    	 };

    	

    	if($('.alert').html()=='alert'){
    		alert("로그인 실패");
    		
    	};
   });	

    	
	

 
 	
</script>



	<footer th:replace="fragments/footer :: footer"> </footer>

</body>


</html>