<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/head.html::head">
</head>
<body>
	<header th:replace="fragments/header :: header"> </header>
	
 <div class="hero-wrap js-fullheight" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
		<div class="main"> 
			<div class="smyp">
				<span class="smyp-1">Show Me Your Pearl</span><br>
				<span class="smyp-2">Show Everyone Your Pearl</span>
			</div>
			<div class="homejogae">
				<img th:src="@{/images/homejogae.jpg}" width="530px" >
			</div>
		</div>
      </div>
    </div>
	</div>
   
    
    <section class="ftco-section bg-light">  
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center">
        <h2>Funding</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4" th:each="f : ${fund}">
	          <div class="block-7">
	          	<img th:src="@{/images/pricing-1.jpg}" class="img" >
	            <div class="text-center p-4" >
	          
	            	  <span th:text="${f.fundTitle}"></span>&nbsp&nbsp<span th:text="${f.memName}"></span> <br><br>
	            	
	            	<!-- <span th:text="${a.count}"></span> -->
	            	<span th:text="${f.fundIntro}"></span><br><br>
	            	<span th:text="${#dates.format(f.fundStartDate, 'yyyy-MM-dd')}"></span><span>~</span>
	            	<span th:text="${#dates.format(f.fundEndDate, 'yyyy-MM-dd')}"></span><br><br>
   	            	<a th:href="@{fund/get(fundNum=${f.fundNum})}"class="btn btn-primary d-block px-2 py-3">Get Started</a>
 	            </div>
	          </div>
	        </div>
	      </div><hr>
		   <a href="#" class="btn btn-primary d-block px-2 py-3" onClick="location.href='/fund/fundList'" >More</a>
    	</div>
    </section>
		
	

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center">
            <h2>favorite</h2>
          </div>
        </div>
        <div class="row d-flex" >
           <div class="col-md-4 d-flex" th:each="l : ${list}">
            <div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20 rounded" th:style="'background-image: url('+@{/images/image_1.jpg}+');'">
              </a>
              <div class="text p-4">
              	<div class="meta mb-2">
                  <div><span th:text="${#dates.format(l.boardDate, 'yyyy-MM-dd')}"></span></div>
                	<div><span th:text="${l.memName}"></span></div> 
                </div>
                <h3 class="heading"><span th:text="${l.boardTitle}"></span></h3>
                 <a th:href="@{gallery/get(boardNum=${l.boardNum})}"class="btn btn-primary d-block px-2 py-3">Get Started</a>
               </div>
            </div>
          </div> 
         
        </div><hr>
		   <a href="#" class="btn btn-primary d-block px-2 py-3" onClick="location.href='/gallery/list'">More</a>
      </div>
    </section>
    <section class="ftco-section ftco-no-pt ftco-no-pb" id="about">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-5 d-flex" >
					<img th:src="@{/images/aboutpearl.jpg}" class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" >
    				</div>
    			
    			<div class="col-md-7 pl-md-5 py-md-5">
    				<div class="heading-section pt-md-5">
	            <h2 class="mb-4">About</h2>
    				</div>
    				<div class="row">
	    				<div class="col-md-6 services-2 w-100 d-flex">
							
	    					<div class="text pl-3">
	    						<p>"그 안을 들여다 보지 않으면 지나쳐 버릴, 우리는 모두 각자의 진주를 가지고 있다." 
									감춰진 우리들의 진주를 통해 사람들과 소통하고 펀딩을 통해 소정의 금액으로 자신만의 전시회까지, 
									Show Me Your Pearl			
								</p>
	    					</div>	    				  		
	    			</div>
	        </div>
        </div>
		</div>
		</div>  
    </section>
    
    <section class="ftco-section bg-light" id="contact">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Contact Form </h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row mb-5">
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Address:</span> 668, Jungang-daero, Busanjin-gu, Busan, Republic of Korea </p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Phone:</span> <a href="tel://1234567920">+8210 6768 7536</a></p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Email:</span> <a href="mailto:info@yoursite.com">qskantt@naver.com</a></p>
					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe"></span>
				        		</div>
				        		<div class="text">
					            <p><span>Website</span> <a href="#">yoursite.com</a></p>
					          </div>
				          </div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</section>
   
	<footer th:replace="fragments/footer :: footer"> </footer>

</body>
</html>